<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibir</title>
</head>
<body>
    <a href="{%url 'crud_create' %}">criar um novo aluno</a>
    <ul>
        {% for i in alunos %}
            <li>
                {{i.nome}} tem {{i.idade}} anos
                <a href="{%url 'crud_update' i.pk %}">editar um aluno</a>
                <a href="{%url 'crud_delete' i.pk %}">deletar um aluno</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>