<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Livro</title>
</head>
<body>
    <a href="{% url  'criar' %}"></a>
    <!-- <form method="post">
        {% csrf_token %}
        <label for="autor">procure um autor</label>
        <input type="text" name="autor" id="autor">
        <input type="submit" value="OK">
    </form> -->
    <ul>
        {% for livro in livros %}
        <li>
            O livro ####{{livro.titulo}}#### tem o autor ####{{livro.autor}}### e foi lancado em ###{{livro.anoPub}}####
            <a href="{% url 'alterar' livro.pk%}">Editar um livro</a>
            <a href="{% url 'apagar' livro.pk%}">Apagar um livro</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>